{% extends 'base.html.twig' %}

{% block title %}Menu de gestion{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gestion des chatons en Bdd</h1>
        <table class="table table-striped">
            <tr>
                <th>Titre</th>
                <th>Descriptions</th>
                <th></th>
            </tr>
            {% for c in categories %}
                <tr>
                    <td>{{ c.titre }}</td>
                    <td>{{ c.description }}</td>

                    <td>
                        <a class="btn btn-secondary" href="{{ path("app_categories_modifier", {"id":c.id}) }}">Modifier</a>
                        <a class="btn btn-danger" href="{{ path("app_categories_supprimer", {"id":c.id}) }}">Supprimer</a>
                        <a class="btn btn-primary" href="{{ path("app_chatons", {"id":c.id}) }}">Voir les chatons</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ path("app_categories_ajouter") }}" class="btn btn-success">Ajouter une categorie</a>
        <a href="{{ path("app_chaton_ajouter") }}" class="btn btn-success">Ajouter un chaton</a>
        <a href="{{ path('app_proprietaire_ajouter') }}" class="btn btn-success">Ajouter un propriétaire</a>
        <a href="{{ path('app_proprietaire_voir') }}" class="btn btn-success">Voir les propriétaires</a>
    </div>
{% endblock %}